@import 'variables';
@import 'mixin';

body {
    margin: 0;
    padding: 0;
    background-color: $backroundColor;
}

*,
::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $headingColor;
}

button{
    padding: 0.2em 0.5em;
    cursor: pointer;
    border: none;
}

.box--1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
        color: $whiteMixColor;
    }

    button {
        background-color: $headingColor;
        color: $whiteMixColor;

        &:hover {
            background-color: rgba(255, 0, 140, 0.486);
        }
    }
}

.box--2 {
    @include flexStart;

    p {
        @include textColor(rgb(85, 5, 2));
    }

    button {
        
        background-color: black;
        @include textColor(white);
      
        transition: transform 2s ease-in-out;

        &::after {
            content: '@';
            margin: 0.2em;
        }

        &:hover {
            background-color: white;
            @include textColor(black);
            transform: scale(2);
            
        }
    }
}

%redSection{
    padding: 2em 3em;
    background-color: red;
    text-align: center
}

.box--3{
    @extend %redSection;
}

